bcrypt
# cx-Oracle
docopt
Flask
Flask-Cors
Flask-LDAPConn
Flask-Login
Flask-Loopback
Flask-Restless
Flask-SQLAlchemy
Flask-WTF
flipflop
httplib2
ldap3
pymongo
pypyodbc
pyOpenSSL
requests
schema
SQLAlchemy
urllib3
virtualenv
WTForms
