{% extends 'base.html' %}
{% block page_title %}Bb Admin Tool{% endblock %}
{% block html_head_includes %}
{#    <link type="text/css" rel="stylesheet" href="../static/css/prism.css" />#}
{% endblock %}
{% block page_content %}
    <h2 class="header">Home</h2>


{% endblock %}
{% block jquery_doc_ready_includes %}

{% endblock %}
{% block js_includes %}
{#    <script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>#}
{#    <script src="../static/js/prism.js"></script>#}
{% endblock %}
